@font-face {
  font-family: "OpenSans-Regular";
  src: url("./fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url("./fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'OpenSans-Regular', sans-serif;
}

.section {
  padding: 0 15px;
  margin-bottom: 30px;
}

.section .title {
  text-align: center;
  text-transform: uppercase;
  font-size: 3em;
}

.section .controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.section .controls button[type=button] {
  -webkit-box-shadow: 0px 0px 0px 0px #3dc21b;
          box-shadow: 0px 0px 0px 0px #3dc21b;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #44c767), to(#5cbf2a));
  background: linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
  background-color: #44c767;
  border-radius: 15px;
  border: 2px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #2bff00;
  font-family: Arial;
  font-size: 22px;
  padding: 10px 50px;
  text-decoration: none;
  text-shadow: 0px 1px 0px transparent;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.section .controls button[type=button]:hover {
  text-shadow: 0px 1px 0px #2f6627;
  background-color: #07ca00;
  -webkit-box-shadow: inset 0px 0px 2px #ff6666;
          box-shadow: inset 0px 0px 2px #ff6666;
}

.section .controls button[type=button]:focus {
  outline: none;
}

.section .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
  margin: 0 auto;
}

.section .info-text {
  font-family: 'OpenSans-Bold', serif;
  margin-bottom: 10px;
}

.section .info-text .bld {
  color: yellow;
  text-shadow: 1px 1px 1px red;
  -webkit-animation: 0.5s linear 0s infinite alternate colorShadow;
          animation: 0.5s linear 0s infinite alternate colorShadow;
}

.section .info-img {
  width: 70%;
}

.section .info-img img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 500px) {
  .section .info-text {
    text-align: center;
  }
}

@-webkit-keyframes colorShadow {
  from {
    text-shadow: 1px 1px 1px red;
  }
  to {
    text-shadow: -1px 1px 1px rgba(255, 0, 0, 0.651);
  }
}

@keyframes colorShadow {
  from {
    text-shadow: 1px 1px 1px red;
  }
  to {
    text-shadow: -1px 1px 1px rgba(255, 0, 0, 0.651);
  }
}

.progress-container {
  width: 110%;
  height: 10px;
  background: #ccc;
  position: fixed;
  bottom: 0;
  display: none;
}

.progress-bar {
  height: 10px;
  background: -webkit-gradient(linear, left top, right top, from(red), to(#0030ff));
  background: linear-gradient(90deg, red 0%, #0030ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff0000",endColorstr="#0030ff",GradientType=1);
  width: 0%;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
/*# sourceMappingURL=style.css.map */